<!-- <div class="wrap">
  <div class="search">
     <input  #searchBox type="text" class="searchTerm"  (input)="search(searchBox.value)">
     <button type="submit" class="searchButton">
       <i class="fa fa-search"></i>
    </button>

    <ul class="search-result">
      <li *ngFor="let product of products$ | async" >
        <a routerLink="/details/{{product.id}}">
          {{product.nombre}}
        </a>
      </li>
    </ul>

  </div>
</div>




 -->


<p>
  <mat-form-field>
    <mat-select [formControl]="productServerSideCtrl" placeholder="{{ 'search' | transloco }}...">

      <mat-option>
        <ngx-mat-select-search [formControl]="productServerSideFilteringCtrl" [searching]="searching">
        </ngx-mat-select-search>
      </mat-option>
      <mat-option *ngFor="let product of filteredServerSideProducts | async" [value]="product"
        (click)="navToProduct(product.id)">
        <a> {{product.nombre}} </a>
      </mat-option>
    </mat-select>

  </mat-form-field>
</p>
