 .sidebar-search input.search-menu,
.sidebar-search .input-group-text {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}


 .sidebar-search > div {
  padding: 10px 20px;
}


.chiller-theme .sidebar-wrapper .sidebar-search
 {
    border-top: 1px solid #3a3f48;
}

 .sidebar-search input.search-menu,
 .sidebar-search .input-group-text {
    border-color: transparent;
    box-shadow: none;
}

 .sidebar-search input.search-menu,
.sidebar-search .input-group-text,
{
    color: #818896;
}

.sidebar-search input.search-menu:focus+span{
    color: #16c7ff;
    text-shadow:0px 0px 10px rgba(22, 199, 255, 0.5);
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li a i,
.chiller-theme .sidebar-wrapper .sidebar-menu .sidebar-dropdown div,
.chiller-theme .sidebar-wrapper .sidebar-search input.search-menu,
.chiller-theme .sidebar-wrapper .sidebar-search .input-group-text {
    background: #3a3f48;
}
