
<div class="container">





  <div class="card bg-light">
    <article class="card-body mx-auto" style="max-width: 400px;">

      <form #form [formGroup]="productForm" (ngSubmit)="addProduct()">

        <div class="form-group input-group">

          <h3>Detalles del producto</h3>
        </div> <!-- form-group// -->


        <div class="form-group input-group">


          <input name="" class="form-control" placeholder="nombre" type="text" formControlName="nombre">
        </div> <!-- form-group// -->

        <div class="form-group input-group">
             <select matNativeControl required formControlName="categoria" class="form-control">
              <option value="pc">Sobremesa</option>
              <option value="laptop">Portátil</option>
              <option value="mobile">Móvil</option>
            </select>

        </div> <!-- form-group// -->
        <br>
        <label for="desc">Descripción:</label>
        <div class="form-group input-group">

          <textarea name="desc" class="form-control" formControlName="descripcion" cols="30" rows="7"></textarea>
        </div> <!-- form-group// -->


        <div class="form-group input-group">


          <input name="" class="form-control" placeholder="url de la primera imagen" type="text" formControlName="img1">
        </div> <!-- form-group// -->

        <div class="form-group input-group">


          <input name="" class="form-control" placeholder="url de la segunda imagen" type="text" formControlName="img2">
        </div> <!-- form-group// -->
        <div class="form-group input-group">


          <input name="" class="form-control" placeholder="url de la tercera imagen" type="text" formControlName="img3">
        </div> <!-- form-group// -->
        <div class="form-group input-group">


          <input name="" class="form-control" placeholder="Precio" type="text" formControlName="precio">
        </div> <!-- form-group// -->



        <div class="form-group input-group">


          <input class="form-control" placeholder="Stock" type="text" formControlName="stock">
        </div> <!-- form-group// -->


        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block"> Añadir producto </button>
        </div> <!-- form-group// -->
      </form>
    </article>
  </div> <!-- card.// -->



</div>
<!--container end.//-->
