






<div class="chat_window">
  <div class="top_menu">
    <div class="buttons">
      <div class="button close"></div>
      <div class="button minimize"></div>
      <div class="button maximize"></div>
    </div>
    <div class="title"  >Chat</div>
  </div>


  <ul class="messages" #ul>
       <li class="message   pull-right appeared">
         <label for="pic" class="text-right"> <b>YOOOOOOOOOOO</b> </label>
        <img class="avatar" name="pic" src="https://1.bp.blogspot.com/-ZNMJAsIZPSM/XaIaHAqHD0I/AAAAAAAAD8c/hReB4auQSM8ZRX057Kv-UoR_57LKdRJfACNcBGAsYHQ/s1600/whatsapp%2Bprofile%2Bpic.jpg"/>
        <div class="text_wrapper">
          <div class="text">hola</div>
        </div>
      </li>

  </ul>


  <form [formGroup]="postForm">
    <div class="bottom_wrapper clearfix">
      <div class="message_input_wrapper">
        <input class="message_input " formControlName="content" required placeholder="Type your message here..." />
      </div>
      <div class="send_message" (click)="sendMessage()">
        <div class="icon"></div>
        <div class="text"  > Send</div>
      </div>
    </div>
  </form>
</div>
<div class="message_template">
  <li class="message">
    <div class="avatar"></div>
    <div class="text_wrapper">
      <div class="text"></div>
    </div>
  </li>
</div>
