<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">

    <div class="page-wrapper chiller-theme toggled ">
      <a id="show-sidebar" class="btn btn-sm btn-dark">
        <i class="fas fa-bars"></i>
      </a>
      <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
          <div class="sidebar-brand">
            <a>pro sidebar</a>
            <div id="close-sidebar" (click)="drawer.close()">
              <i class="fas fa-times"></i>
            </div>
          </div>
          <div class="sidebar-header" *ngIf="logged && !userLoading">
            <div class="user-pic">
              <img class="img-responsive img-rounded" src="{{userData.userDetails.img.name}}" alt="User picture">
            </div>
            <div class="user-info">
              <span class="user-name">
                <strong> {{userData.username}}</strong>
              </span>
              <span class="user-role">{{userData.roles}}</span>
              <span class="user-status">
                <i class="fa fa-circle"></i>
                <span>Online</span>
              </span>
            </div>
          </div>
          <!-- sidebar-header  -->
          <div class="sidebar-search">
            <div>
              <div class="input-group">
                <app-search></app-search>


              </div>
            </div>
          </div>
          <!-- sidebar-search  -->
          <div class="sidebar-menu">
            <ul>
              <li class="header-menu">
                <span>General</span>
              </li>
              <li>
                <a [routerLink]="['/home']">
                  <i class="fa fa-home"></i>
                  <span>{{ 'home' | transloco }}</span>

                </a>

              </li>

              <li class="sidebar-dropdown " [ngClass]="productsStatus ? 'active' : ''">
                <a (click)="productsStatus=!productsStatus">
                  <i class="fa fa-tachometer-alt"></i>
                  <span>{{ 'products' | transloco }}</span>
                  <span class="badge badge-pill badge-warning">New</span>
                </a>
                <div class="sidebar-submenu " [ngStyle]="productsStatus?{'display': 'block'}:{'display':''}">
                  <ul>
                    <li>
                      <a [routerLink]="['/category/pc']"><span>{{ 'desktop' | transloco }}</span>
                      </a>
                    </li>
                    <li>
                      <a [routerLink]="['/category/laptop']"><span>{{ 'laptop' | transloco }}</span></a>

                    </li>
                    <li>
                      <a [routerLink]="['/category/mobile']"><span>{{ 'phone' | transloco }}</span></a>
                    </li>
                  </ul>

                </div>
              </li>



              <li>
                <a [routerLink]="['/login']" *ngIf="logged==false">
                  <i class="fas fa-sign-in-alt"></i> Login</a>
              </li>
              <li>
                <a [routerLink]="['/register']" *ngIf="logged==false">
                  <i class="fas fa-user-plus"></i>
                  Register
                </a>
              </li>



              <li class="sidebar-dropdown " [ngClass]="profileStatus ? 'active' : ''" *ngIf="logged">
                <a (click)="profileStatus=!profileStatus ">
                  <i class="fa fa-tachometer-alt"></i>
                  <span>Dashboard</span>
                  <span class="badge badge-pill badge-warning">New</span>
                </a>
                <div class="sidebar-submenu " [ngStyle]="profileStatus?{'display': 'block'}:{'display':''}">
                  <ul>
                    <li>
                      <a [routerLink]="['/profile']">My profile

                      </a>
                    </li>
                    <li>

                      <a [routerLink]="['/chat']" *ngIf="logged==true">Chat</a>
                    </li>
                    <li>
                      <a [routerLink]="['/compras']">Mis Compras</a>
                    </li>
                    <li>
                      <a [routerLink]="['/admin/addProduct']"
                        *ngIf="isAdmin==true"><span>{{ 'add_product' | transloco }}</span></a>
                    </li>
                    <li>
                      <a [routerLink]="['/admin/messages']"
                        *ngIf="isAdmin==true"><span>{{ 'read_messages' | transloco }}</span></a>
                    </li>
                    <li>
                      <a [routerLink]="['/admin/users']"
                        *ngIf="isAdmin==true"><span>{{ 'users' | transloco }}</span></a>
                    </li>
                  </ul>
                </div>
              </li>



              <li class="header-menu">
                <span>Extra</span>
              </li>

              <li>
                <a [routerLink]="['/contact']">
                  <i class="fas fa-envelope-open-text"></i> <span>{{ 'contact_us' | transloco }}</span>
                </a>
              </li>

              <li>
                <a [routerLink]="['/cart']">
                  <i class="fa fa-shopping-cart"></i>
                  <span>{{ 'cart' | transloco }}</span>
                  <span class="badge badge-pill badge-danger" *ngIf="logged==cartItems$">{{cartItems$}}</span>
                </a>

              </li>
              <li>
                <a>
                  <i class="fa fa-tachometer-alt"></i>

                <mat-slide-toggle [(ngModel)]="isChecked" class="language-check" (click)="changeLanguage(isChecked)"> <span *ngIf="isChecked">ES</span>
                  <span *ngIf="!isChecked">EN</span>
                </mat-slide-toggle>
              </a>
              </li>


              <li class="sidebar-dropdown " [ngClass]="themesStatus ? 'active' : ''">
                <a (click)="themesStatus=!themesStatus">
                  <i class="fas fa-eye-dropper"></i>
                  <span><span>{{ 'change_theme' | transloco }}</span></span>
                </a>
                <div class="sidebar-submenu " [ngStyle]="themesStatus?{'display': 'block'}:{'display':''}">
                  <ul>
                    <li>
                      <a color="primary" (click)="onSetTheme('default-theme')">Default
                      </a>
                    </li>
                    <li>
                      <a color="primary" (click)="onSetTheme('dark-theme')">Dark</a>

                    </li>
                    <li>
                      <a color="primary" (click)="onSetTheme('light-theme')">Light</a>
                    </li>
                  </ul>



                </div>
              </li>

            </ul>
          </div>
          <!-- sidebar-menu  -->
        </div>
        <!-- sidebar-content  -->
        <div class="sidebar-footer">
          <a [routerLink]="['/chat']">
            <i class="fa fa-bell"></i>
            <span class="badge badge-pill badge-warning notification">{{numeroMensajes}}</span>
          </a>
          <a>
            <i class="fa fa-envelope"></i>
            <span class="badge badge-pill badge-success notification">7</span>
          </a>
          <a [routerLink]="['/profile']">
            <i class="fa fa-cog"></i>
            <span class="badge-sonar"></span>
          </a>
          <a (click)="onLogout()" *ngIf="logged==true">
            <i class="fa fa-power-off"></i>
          </a>
        </div>
      </nav>
      <!-- sidebar-wrapper  -->

    </div>

  </mat-sidenav>
  <mat-sidenav-content>

    <mat-toolbar color="primary">
      <mat-toolbar-row class="navbar-hamb">


        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          (click)="sideNavStatus=true" *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      </mat-toolbar-row>



      <mat-toolbar-row class="navbar-top">

        <button mat-button [routerLink]="['/home']" ><img src="../../assets/images/logo.PNG" class="logo"> </button>
        <button mat-button [routerLink]="['/home']"><span>{{ 'home' | transloco }}</span>
        </button>


        <button mat-button [matMenuTriggerFor]="productosMenu"><span>{{ 'products' | transloco }}</span>
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #productosMenu="matMenu" xPosition="after">
          <a class="dropdown-item" [routerLink]="['/category/pc']"><span>{{ 'desktop' | transloco }}</span></a>
          <a class="dropdown-item" [routerLink]="['/category/laptop']"><span>{{ 'laptop' | transloco }}</span></a>
          <a class="dropdown-item" [routerLink]="['/category/mobile']"><span>{{ 'phone' | transloco }}</span></a>
        </mat-menu>

        <button mat-button [routerLink]="['/login']" *ngIf="logged==false"><i class="fas fa-sign-in-alt"></i> Login
        </button>
        <button mat-button [routerLink]="['/register']" *ngIf="logged==false"><i class="fas fa-user-plus"></i>
          Register</button>
        <button mat-button [routerLink]="['/contact']"><i class="fas fa-envelope-open-text"></i>
          <span>{{ 'contact_us' | transloco }}</span></button>

        <app-search></app-search>

        <span class="spacer"></span>


        <mat-slide-toggle [(ngModel)]="isChecked" class="language-check" (click)="changeLanguage(isChecked)"> <span *ngIf="isChecked">ES</span>
          <span *ngIf="!isChecked">EN</span>
        </mat-slide-toggle>

        <button mat-button [matMenuTriggerFor]="settingsMenu"><span *ngIf="!userLoading"> {{userName}} </span>
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #settingsMenu="matMenu" xPosition="before">
          <a class="dropdown-item" [routerLink]="['/profile']"><i
              class="fas fa-user-alt"></i><span>{{ 'my_profile' | transloco }}</span></a>
          <a class="dropdown-item" [routerLink]="['/chat']" *ngIf="logged==true">
            <i class="fa fa-bell"></i>
            Chat
            <span class="badge badge-pill badge-warning notification">{{numeroMensajes}}</span>
          </a>

          <a class="dropdown-item" [routerLink]="['/compras']"><i
              class="fas fa-shopping-bag"></i><span>{{ 'my_purchases' | transloco }}</span></a>
          <a class="dropdown-item" [routerLink]="['/admin/addProduct']" *ngIf="isAdmin==true"><i
              class="fas fa-cart-plus"></i> <span>{{ 'add_product' | transloco }}</span></a>
          <a class="dropdown-item" [routerLink]="['/admin/messages']" *ngIf="isAdmin==true"><i
              class="fas fa-envelope"></i> <span>{{ 'read_messages' | transloco }}</span></a>
          <a class="dropdown-item" [routerLink]="['/admin/users']" *ngIf="isAdmin==true"><i
              class="fas fa-users"></i><span>{{ 'users' | transloco }}</span></a>

          <a class="dropdown-item" (click)="onLogout()" *ngIf="logged==true"><i class="fas fa-sign-out-alt"></i>
            Logout</a>

        </mat-menu>

        <button mat-button [matMenuTriggerFor]="themeMenu">
          <mat-icon role="img" class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">
            format_color_fill</mat-icon>
        </button>
        <mat-menu #themeMenu="matMenu" xPosition="after">
          <a type="button" class="dropdown-item" color="primary" (click)="onSetTheme('default-theme')">Default</a>
          <a type="button" class="dropdown-item" color="primary" (click)="onSetTheme('dark-theme')">Dark</a>
          <a type="button" class="dropdown-item" color="primary" (click)="onSetTheme('light-theme')">Light</a>
        </mat-menu>



        <a class="nav-link " [routerLink]="['/cart']"> <i class="fa" style="font-size:24px">&#xf07a;</i>
          <span class='badge badge-warning' id='lblCartCount' *ngIf="logged==true"> {{ cartItems$}} </span>
        </a>

      </mat-toolbar-row>

    </mat-toolbar>

    <ng-content></ng-content>


  </mat-sidenav-content>
</mat-sidenav-container>
