<!--
          <div class="tab-pane fade show active" id="reviews">
            <br>
            <form class="well padding-bottom-10" [formGroup]="postForm" (ngSubmit)="onPost()">
              <textarea rows="2" class="form-control" placeholder="Write a review" formControlName="text" minlength="5" required></textarea>
              <div class="margin-top-10">
                <button type="submit" class="btn btn-sm btn-primary pull-right">
                  Submit Comment
                </button>

              </div>
            </form>
            <br>
            <div class="chat-body no-padding profile-message">
              <ul>




                <li class="message" *ngFor="let post of posts |paginate: { itemsPerPage: 10, currentPage: p } ,let i=index">
                  <img src="{{post.img}}" class="online">
                  <span class="message-text">
                    <a href="javascript:void(0);" class="username">
                      {{post.username}}
                      <span class="badge">Purchase Verified</span>
                      <span class="pull-right">
                        <i class="fa fa-star fa-2x text-primary"></i>
                        <i class="fa fa-star fa-2x text-primary"></i>
                        <i class="fa fa-star fa-2x text-primary"></i>
                        <i class="fa fa-star fa-2x text-primary"></i>
                        <i class="fa fa-star fa-2x text-muted"></i>
                      </span>
                    </a> <br>
                     {{ post.text }}
                  </span>
                  <ul class="list-inline font-xs">
                    <li>
                      <form   [formGroup]="likeForm" (ngSubmit)="onLike(i)">

                      <button type="submit" class="text-info"><i class="fa fa-thumbs-up"></i> This was helpful ({{post.likes}})</button>
                      </form>
                    </li>
                    <li class="pull-right">
                      <small class="text-muted pull-right ultra-light"> Posted {{post.date|date}} </small>
                    </li>
                  </ul>
                </li>

                <br>
                <pagination-controls (pageChange)="p = $event" *ngIf="posts.length>10"></pagination-controls>


              </ul>
            </div>
          </div>



           -->



<div class="container">

  <form class="well padding-bottom-10 " [formGroup]="postForm" (ngSubmit)="onPost()">
    <textarea rows="2" class="form-control" placeholder="Write a review" formControlName="text" minlength="5"
      required></textarea>
    <div class="margin-top-10">
      <button type="submit" class="btn btn-sm btn-primary pull-right">
        Submit Comment
      </button>

    </div>
  </form>

  <div class="card">
    <div class="card-body" *ngFor="let post of posts |paginate: { itemsPerPage: 10, currentPage: p } ,let i=index">
      <div class="row">
        <div class="col-md-2">
          <img src="{{post.user.userDetails.img.name}}" class="img img-rounded img-fluid rounded-circle z-depth-2"
            *ngIf="post.user.userDetails" />
          <p class="text-secondary text-center">{{post.date|date}}</p>
        </div>
        <div class="col-md-10">
          <p>
            <a class="float-left"><strong>{{post.user.username}}</strong></a>
            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
            <span class="float-right"><i class="text-warning fa fa-star"></i></span>
            <span class="float-right"><i class="text-warning fa fa-star"></i></span>

          </p>
          <div class="clearfix"></div>
          <p>{{post.text}}</p>
          <div>
            <a class="float-right btn btn-outline-primary ml-2" data-toggle="collapse" href="#replyForm{{i}}"
              role="button"> <i class="fa fa-reply"></i> Reply</a>


            <div   (click)="bounceState[i]=!this.bounceState[i]" color="accent">
            <button mat-raised-button [@tdBounce]="onBounce(i)"
              class="float-right btn text-white btn-danger" (click)="onLike(post.id,post.likes,i)">
              <i class="fa fa-heart"></i>
              ({{post.likes}}) Likes
            </button>
          </div>

          </div>
        </div>
      </div>
      <a class="btn btn-primary " data-toggle="collapse" href="#replySection{{i}}" role="button" aria-expanded="false"
        aria-controls="multiCollapseExample1" [class.disabled]="!post.replays.length"><span *ngIf="post.replays">
          ({{post.replays.length}})</span> Comentarios</a>
      <br>
      <br>
      <form class="well padding-bottom-10 collapse " id="replyForm{{i}}" [formGroup]="replyForm"
        (ngSubmit)="onReplyPost(i)">
        <textarea rows="2" class="form-control" placeholder="Write a review" formControlName="text" minlength="5"
          required></textarea>
        <div class="margin-top-10">
          <button type="submit" class="btn btn-sm btn-primary pull-right">
            Submit Comment
          </button>
        </div>
      </form>
      <br>
      <div class="card card-inner collapse multi-collapse replyStyle" id="replySection{{i}}" *ngIf="post.replays">
        <div class="card-body" *ngFor="let replay of post.replays,let j=index">
          <div class="row">
            <div class="col-md-2">
              <img src="{{replay.user.userDetails.img.name}}"
                class="img img-rounded img-fluid  rounded-circle z-depth-2" *ngIf="replay.user.userDetails" />
              <p class="text-secondary text-center">{{replay.date|date}}</p>
            </div>
            <div class="col-md-10">
              <p><a><strong>{{replay.user.username}}</strong></a></p>
              <p>{{replay.text}}</p>
              <p>
                <button class="float-right btn text-white btn-danger" (click)="onLike(replay.id,replay.likes,i,j)"> <i
                    class="fa fa-heart"></i> ({{replay.likes}}) Likes</button>

              </p>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
    <br>
    <pagination-controls class="d-flex justify-content-center" (pageChange)="p = $event" *ngIf="posts.length>10">
    </pagination-controls>
  </div>
</div>
