<br> <br>

<app-search></app-search>

<div class="col-sm-12 col-md-12 col-lg-12">
  <!-- product -->
  <div class="product-content product-wrap clearfix product-deatil">
    <div class="row">
      <div class="col-md-5 col-sm-12 col-xs-12 ">

        <mat-carousel timings="250ms ease-in" [autoplay]="true" interval="5000" color="accent" maxWidth="auto"
          proportion="25" slides="5" [loop]="true" [hideArrows]="false" [hideIndicators]="false" [useKeyboard]="true"
          [useMouseWheel]="false" [maintainAspectRatio]="false" orientation="ltr">
          <mat-carousel-slide #matCarouselSlide *ngFor="let slide of productoActual.imgs; let i = index"
            [image]="slide.name" overlayColor="#00000040" [hideOverlay]="false"></mat-carousel-slide>
        </mat-carousel>


      </div>
      <div class="col-md-7 col-sm-12 col-xs-12" *ngIf="productoActual">

        <h2 class="name">
          {{ productoActual.nombre }}


        </h2>
        <hr>
        <div>

          {{ productoActual.descripcion }}

        </div>
        <hr>
        <h3 class="price-container">
          Precio: {{ productoActual.precio | currency }} Available: {{ productoActual.stock }}


          <div class="col-sm-12 col-md-6 col-lg-6">
            <br>

            <div *ngIf="loggedIn;then add else login"> </div>
            <ng-template #add><a class="btn btn-success btn-lg" (click)='addToCart()'>Add to cart </a>
            </ng-template>
            <ng-template #login><a class="btn btn-success btn-lg" routerLink="/login">Add to cart </a>
            </ng-template>

          </div>
        </h3>
        <div class="certified">
          <ul>
            <li><a href="javascript:void(0);">Delivery time<span>7 Working Days</span></a></li>
            <li><a href="javascript:void(0);">Certified<span>Quality Assured</span></a></li>
          </ul>
        </div>
        <hr>


        <div class="row">


          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="btn-group pull-right">
              <button class="btn btn-white btn-default"><i class="fa fa-star"></i> Add to wishlist </button>
              <button class="btn btn-white btn-default"><i class="fa fa-envelope"></i> Contact Seller</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- end product -->
  <br> <br>

  <h3>Comentarios: </h3>
  <br> <br>
  <app-posts></app-posts>

</div>
