
<br> <br>

<app-search></app-search>


<div class="container">
  <app-loading-spinner  *ngIf="showSpinner"></app-loading-spinner>

  <div class="row">

      <div class="col-md-4" *ngFor="let product of products$ | async |paginate: { itemsPerPage: 9, currentPage: p }"  >

        <figure class="card card-product-grid card-lg"> <a href="#" class="img-wrap" data-abc="true"><img src="{{ product.img }}"></a>
              <figcaption class="info-wrap">
                  <div class="row">
                      <div class="col-md-8"> <a href="#" class="title" data-abc="true">{{product.nombre}}</a> </div>
                      <div class="col-md-4">
                          <div class="rating text-right"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> </div>
                      </div>
                  </div>
              </figcaption>
              <div class="bottom-wrap"> <a routerLink="/details/{{product.id}}" class="btn btn-primary float-right" data-abc="true"> More Details </a>
                  <div class="price-wrap"> <span class="price h5">{{ product.precio | currency:"EUR" }}</span> <br> <small class="text-success">Free shipping</small> </div>
              </div>
          </figure>
      </div>

      </div>
      <br>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>

  </div>
