<div class="container">
  <div class="row">

    <div class="col-md-10">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <h4>{{'profile.my_profile'|transloco}} </h4>
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12" *ngIf="user">
              <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                  <label for="img" class="col-4 col-form-label">{{'profile.profile_pic'|transloco}}
                    <img class="imagen" src="{{ user.userDetails.img.name }}" alt="">

                  </label>
                  <div class="col-8">
                    <input id="img" name="img" placeholder="Profile Picture" formControlName="imgName"
                      class="form-control here" type="text">
                  </div>

                </div>
                <div class="form-group row">
                  <label for="username" class="col-4 col-form-label">{{'profile.user_name'|transloco}}*</label>
                  <div class="col-8">
                    <input id="username" name="username" placeholder="{{user.username}}" formControlName="username"
                      class="form-control here" required="required" type="text">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="name" class="col-4 col-form-label">{{'profile.first_name'|transloco}}</label>
                  <div class="col-8">
                    <input id="name" name="name" placeholder="{{user.userDetails.firstname}}"
                      formControlName="firstname" class="form-control here" type="text">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="lastname" class="col-4 col-form-label">{{'profile.last_name'|transloco}}</label>
                  <div class="col-8">
                    <input id="lastname" name="lastname" placeholder="{{user.userDetails.lastname}}"
                      formControlName="lastname" class="form-control here" type="text">
                  </div>
                </div>


                <div class="form-group row">
                  <label for="select" class="col-4 col-form-label">{{'profile.display_role'|transloco}}</label>
                  <div class="col-8">
                    <input id="select" name="text" placeholder="{{user.roles}}" class="form-control here" disabled>
                  </div>

                </div>
                <div class="form-group row">
                  <label for="email" class="col-4 col-form-label">Email*</label>
                  <div class="col-8">
                    <input id="email" name="email" placeholder="{{user.email}}" class="form-control here" type="text"
                      formControlName="email">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="website" class="col-4 col-form-label">{{'profile.website'|transloco}}</label>
                  <div class="col-8">
                    <input id="website" name="website" placeholder="{{user.userDetails.website}}"
                      formControlName="website" class="form-control here" type="text">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="publicinfo" class="col-4 col-form-label">{{'profile.public_info'|transloco}}</label>
                  <div class="col-8">
                    <textarea id="publicinfo" name="publicinfo" cols="40" rows="4" class="form-control"
                      formControlName="info">{{user.userDetails.info}}</textarea>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="newpass" class="col-4 col-form-label">{{'profile.new_password'|transloco}}</label>
                  <div class="col-8">
                    <input id="newpass" type="password" name="newpass" placeholder="New Password"
                      class="form-control here" formControlName="password">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="offset-4 col-8">
                    <button name="submit" type="submit"
                      class="btn btn-primary">{{'profile.update_profile'|transloco}}</button>
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
